body {
    background-color: tan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.navbar {
    text-align: center;
    background-color : rgb(255, 123, 52);
    margin: 10px;
    padding: 10px;


}

.navbar li {
    display: inline-block;

}

a:hover {
    color:white;
}


.picturesliderdiv{
    background-color:rgb(255, 198, 64);
}



#imagestyle{
  width: 50%;
  margin: 0 auto;
}
#imagestyle img{
  width: 600px;
  height: 600px;
  overflow:hidden;
}

#imagecontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#imagecontainer img {
  position: absolute;
  width: 100%;
  height: 100%;
}
