body {
    background-color: rgb(255, 241, 224);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.navbar {
    text-align: center;
    background-color : rgb(52, 191, 255);
    margin: 10px;
    padding: 10px;


}

.navbar li {
    display: inline-block;

}

a:hover {
    color:white;
}


.picturesliderdiv{
    background-color:rgb(255, 52, 52);
    padding: 20px;
    padding-bottom: 140px;
    border: 2px solid black;
    border-radius:10%
}



#imagestyle{
  margin: 0 auto;
}
#imagestyle img{
  width: 600px;
  height: 600px;
  overflow:hidden;
}

#imagecontainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#imagecontainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:contain;
}


.twodiv {
  display: flex;
  column-gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.tablestyle table{
  text-align:center;
  border: 2px solid black;
  background-color:white;
}

.tablestyle td{
  border: 2px solid black;
}

.tablestyle th{
  border: 2px solid black;
}

.audiotextbox{
    align-items: center;
    color: rgb(0, 0, 0);
    border-color: black;
    background-color: rgb(195, 228, 255);
    border: 10px;
    width: 50%;
    margin: 25px auto;
    padding: 30px;
}

