body {
    background-color: rgb(255, 241, 224);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.navbar {
    text-align: center;
    background-color : rgb(52, 191, 255);
    margin: 10px;
    padding: 10px;


}

.navbar li {
    display: inline-block;

}

a:hover {
    color:white;
}


.picturesliderdiv{
    background-color:rgb(255, 52, 52);
    padding: 20px;
    padding-bottom: 140px;
    border: 2px solid black;
    border-radius:10%
}



#imagestyle{
  width: 50%;
  margin: 0 auto;
}
#imagestyle img{
  width: 600px;
  height: 600px;
  overflow:hidden;
}

#imagecontainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

#imagecontainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:contain;
}


.twodiv {
  display: flex;
  column-gap: 20px;
}